#logo{
    max-width: 300px;
    width: 100%;
}
.main-menu{
    margin-top: 15px;
    margin-bottom: 30px;
}
.header-text{
    color: #2c519e;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    height: 20px;
    line-height: 75px;
}
.info-text{
    color: #2c329e;
    font-size: 19px;
    font-weight: 400;
    height: 20px;
    line-height: 80px;
}