#logo{
    max-width: 200px;
    width: 100%;
    position: absolute;
    left: 8%;
}
.main-menu{
    margin-top: 15px;
    margin-bottom: 30px;
}
.header-text{
    color: #f5f5dc;
    font-size: 25px;
    font-weight: bold;
    height: 10px;
    font-style: oblique;
    font-stretch: expanded;
    margin-top: 38px;
}
.info-text {
    color: #f5f5dc;
    font-size: 19px;
    font-weight: 400;
    height: 20px;
    line-height: 50px;
    margin-bottom: 30px;
}
.blog-item{
    margin-bottom: 30px;
}
.blog-item h4{
    text-align: center;
}
.blog-item h4 a{
    text-decoration: none;
}
.blog-item img, .blog-item h4 a{
    transition: all .15s linear;
}
.blog-item:hover img{
    transform: scale(1.03, 1.03);
}
.blog-item:hover h4 a{
    top: 3px;
    color: darkred;
}
.category-name{
    font-family: "Bradley Hand", cursive;
}
.author{
    height: 50px;
    padding: 15px 0;
    display: inline-block;
    width: auto;
    margin-bottom: 30px;
}
.author span{
    float: left;
}
.avatar{
    width: 50px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
}
.avatar img{
    width: 100%;
}
.author-name{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
}
.my-header{
    padding: 15px 0;
}

.product{
    box-shadow: 0 0 4px #ccc;
    transition: all .15s linear;
}

.product > a{
    display: block;
    text-decoration: none;
}
.product img{
    width: 100%;
}
.product .product-name{
    text-align: center;
    color: #000;
    font-size: 18px;
    padding: 0 15px 15px;
}
.product-price{
    text-align: center;
    display: block;
    padding: 15px;
    font-size: 30px;
}
.product:hover{
    transform: scale(1.03, 1.03);
}
.product:hover .product-name{
    color: darkred;
}
.product-image{
    display: block;
    margin: 0 0 15px;
}
body{
    background: url(../img/ab.png);
    color: #fff;
    background-attachment: fixed;
    background-repeat: repeat-x;
}
.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 50px;
  border-radius: 45px;
  margin: 48px 12px 23px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.floating-button:hover {
  background: #fdaf64;
  box-shadow: 0 0 3px 3px rgb(248, 142, 4);
  color: white;
  /*transform: translateY(-7px);*/
}
.category-head{
    font-family: "Bradley Hand", cursive;
    font-size: 50px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #ff8a3f 33%, #ffa73b 66%, #ff751a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    margin: 20px auto;
    font-weight: bold;
    font-stretch: ultra-expanded;
    font-style: italic;
}